{% extends 'partials/base.html' %}
{% load static %}{% load i18n %}{% load hotel_extras %}{% load price_format %}

{% block special_header_links %}
<link rel="stylesheet" href="{% static 'css/bootstrap_part_for_modal.css' %}"> 
<link rel="stylesheet" href="{% static 'css/hotel_detail.css' %}"> 

{% endblock special_header_links %}

{% block content %}
<div class="clearfix"></div>

<div id="titlebar" class="utf_listing_titlebar">
    <div class="utf_listing_titlebar_title">
        <div class="hotel-name-address-reviews">
            <h2 class="utf_listing_titlebar_hotel_name">
                {{hotel.name}}
            </h2>
            <div class="utf_listing_hotel_address_and_rating_container">
                <span class="utf_listing_titlebar_hotel_address"><i class="fas fa-location-arrow" style="color: #00cceb;"></i> {{hotel.address}}</span>
                <div class="utf_star_rating_section" data-rating="{{hotel.average_rating}}">
                    {% if hotel.average_rating == None %}
                    <div class="utf_counter_star_rating">{% trans "No Reviews Yet" %}</div>
                    {% else %}
                    <div class="utf_counter_star_rating">({{hotel.average_rating}}) / ({{hotel.rating_count}} {% trans "Reviews" %})</div>
                    {% endif %}
                </div>
            </div>
        </div>
<!--        <div class="fast-booking-button">-->
<!--            {% trans "" %}-->
<!--        </div>-->
        <ul class="listing_item_social">
<!--            <li><button class="button-booking">{% trans "Booking" %}</button></li>-->
            {% if bookmark %}

            <li><a style="cursor: pointer;" data-hotel="{{hotel.id}}" class="add-to-bookmark-{{hotel.id}}" id="add-to-bookmark"><i class="fa fa-heart" style="color: red;"></i></a></li>
            {% else %}

            <li><a style="cursor: pointer;" data-hotel="{{hotel.id}}" class="add-to-bookmark-{{hotel.id}}" id="add-to-bookmark"><i class="fa fa-heart" style="color: gray;"></i></a></li>
            {% endif %}

            {% if request.user.is_authenticated %}
            {% if not reviews %}
            <a href="#small-dialog" class="popup-with-zoom-anim add-review-button" id="add-review-button"><i class="fa fa-star"></i><span class="add-review-button-text">{% trans "Add Review" %}</span></a></li>
            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                <div class="small_dialog_header">
                    <h3 class="review_text">{% trans "Write a review" %}</h3>
                </div>
                <div class="utf_message_reply_block margin-top-0" id="review_div">
                    <textarea cols="40" rows="3" id="review-input" placeholder="{% trans 'Your Message...' %}"></textarea>
                    <select name="" id="rating-input">
                        <option value="1">★☆☆☆☆</option>
                        <option value="2">★★☆☆☆</option>
                        <option value="3">★★★☆☆</option>
                        <option value="4">★★★★☆</option>
                        <option value="5">★★★★★</option>
                    </select>
                    <button data-hotel="{{hotel.id}}" class="button" id="review-btn">{% trans "Reply Message" %}</button>
                </div>
            </div>
            {% endif %}
            {% else %}
            <li><a href="{% url 'userauths:sign-in' %}?next={{request.path}}"><i class="fa fa-sign-in"></i> {% trans "Login to Write Review" %}</a></li>
            {% endif %}
            <li class="share-button"><a style="cursor: pointer;" id="clipboard"><i class="fa fa-share"></i> {% trans "Share" %}</a></li>
        </ul>
    </div>
</div>


<div id="utf_listing_gallery_part" class="utf_listing_section">
    <div class="utf_listing_slider utf_gallery_container margin-bottom-0">
        {% for h in hotel.hotel_gallery %}
        <a href="{{h.image.url}}" data-background-image="{{h.image.url}}" class="item utf_gallery"></a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-8 col-md-8">
<!--            <div id="titlebar" class="utf_listing_titlebar">-->
<!--                <div class="utf_listing_titlebar_title">-->
<!--                    <h2>-->
<!--                        {{hotel.name}}-->
<!--                    </h2>-->
<!--                    <span><i class="fas fa-location-arrow" style="color: #8400ff;"></i> {{hotel.address}}</span>-->
<!--                    <div class="utf_star_rating_section" data-rating="{{hotel.average_rating}}">-->
<!--                        {% if hotel.average_rating == None %}-->
<!--                        <div class="utf_counter_star_rating">{% trans "No Reviews Yet" %}</div>-->
<!--                        {% else %}-->
<!--                        <div class="utf_counter_star_rating">({{hotel.average_rating}}) / ({{hotel.rating_count}} {% trans "Reviews" %})</div>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                    <ul class="listing_item_social">-->
<!--                        {% if bookmark %}-->
<!--                        <li><a style="cursor: pointer;" data-hotel="{{hotel.id}}" class="add-to-bookmark-{{hotel.id}}" id="add-to-bookmark"><i class="fa fa-heart" style="color: red;"></i></a></li>-->
<!--                        {% else %}-->
<!--                        <li><a style="cursor: pointer;" data-hotel="{{hotel.id}}" class="add-to-bookmark-{{hotel.id}}" id="add-to-bookmark"><i class="fa fa-heart" style="color: gray;"></i></a></li>-->
<!--                        {% endif %}-->

<!--                        {% if request.user.is_authenticated %}-->
<!--                        {% if not reviews %}-->
<!--                        <a href="#small-dialog" class="popup-with-zoom-anim" id="add-review-button"><i class="fa fa-star"></i>{% trans "Add Review" %}</a></li>-->
<!--                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">-->
<!--                            <div class="small_dialog_header">-->
<!--                                <h3 class="review_text">{% trans "Write a review" %}</h3>-->
<!--                            </div>-->
<!--                            <div class="utf_message_reply_block margin-top-0" id="review_div">-->
<!--                                <textarea cols="40" rows="3" id="review-input" placeholder="{% trans 'Your Message...' %}"></textarea>-->
<!--                                <select name="" id="rating-input">-->
<!--                                    <option value="1">★☆☆☆☆</option>-->
<!--                                    <option value="2">★★☆☆☆</option>-->
<!--                                    <option value="3">★★★☆☆</option>-->
<!--                                    <option value="4">★★★★☆</option>-->
<!--                                    <option value="5">★★★★★</option>-->
<!--                                </select>-->
<!--                                <button data-hotel="{{hotel.id}}" class="button" id="review-btn">{% trans "Reply Message" %}</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                        {% else %}-->
<!--                        <li><a href="{% url 'userauths:sign-in' %}?next={{request.path}}"><i class="fa fa-sign-in"></i> {% trans "Login to Write Review" %}</a></li>-->
<!--                        {% endif %}-->
<!--                        <li><a style="cursor: pointer;" id="clipboard"><i class="fa fa-share"></i> {% trans "Share" %}</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <div id="utf_listing_overview" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30">{% trans "Description" %}</h3>
                <p>{{hotel.description|safe}}</p>
                {% if hotel.check_in_time and hotel.check_out_time %}
                    <div class="check_in_out_time_container">
                        <span class="check_in_out_time"><i>{% trans "Check-in Time" %}</i><span class="time">{{hotel.check_in_time}}</span></span>
                        <span class="check_in_out_time"><i>{% trans "Check-out Time" %}</i><span class="time">{{hotel.check_out_time}}</span></span>
                    </div>
                {% endif %}
            </div>

            {% comment %} {% if hotel.tags.all %}
            <div id="utf_listing_tags" class="utf_listing_section listing_tags_section">
                <h3 class="utf_listing_headline_part margin-top-40 margin-bottom-40">{% trans "Tags" %}</h3>
                {% for h in hotel.tags.all %}
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i>{{h}}</a>
                {% endfor %}
            </div>
            {% endif %} {% endcomment %}

            <div class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">{% trans "Pricing" %}</h3>
<!--                <div class="show-more">-->
                    <div class="utf_pricing_list_section">
                        <h4>{% trans "Room Types" %}</h4>
                        <ul>
                            {% for r in hotel.hotel_room_types %}
                            <li class="hrm-room-item">
                                <div class="hrm-room-info">
                                    <h5>{{ r.type }}</h5>
                                    <p><strong>{% trans "Beds" %}:</strong> {{ r.number_of_beds }} - <strong>{% trans "Rooms" %}:</strong> {{ r.rooms_count }}</p>
                                </div>
                                <button type="button" class="hrm-photo-btn" data-room-id="{{ r.id }}">{% trans "Photo" %}</button>
                                <div class="hrm-room-actions">
                                    <span>{{ r.price|price_format }} {% trans "Tenge" %}</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
<!--                </div>-->
<!--                <a href="#" class="show-more-button" data-more-title="Show More" data-less-title="Show Less"><i class="fas fa-down-arrow"></i></a>-->
            </div>



            <div id="utf_listing_amenities" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">{% trans "Amenities" %}</h3>
                <ul class="utf_listing_features checkboxes margin-top-0">
                    {% for h in hotel.hotel_features %}
                    <li class="amenities_item">
                        <img src="{% static 'icons/' %}{{ h.icon }}" alt="icon img" width="35" height="35">
                        {{h.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% if hotel.hotel_faqs %}
            <div id="utf_listing_faq" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-50 margin-bottom-40">{% trans "FAQ's" %}</h3>
                <div class="style-2">
                    <div class="accordion">
                        {% for h in hotel.hotel_faqs %}
                        <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="sl sl-icon-plus"></i> {{h.question}}</h3>
                        <div>
                            <p>{{h.answer}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div id="utf_listing_reviews" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-75 margin-bottom-20">{% trans "Reviews" %} <span>({{all_reviews.count}})</span></h3>
                <div class="clearfix"></div>
                <div class="reviews-container">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- <div id="review_summary">
                                {% if hotel.average_rating == None %}
                                <strong>{% trans "Not Rated Yet" %}</strong>
                                {% else %}
                                <strong>{{hotel.average_rating}}/5</strong>
                                {% endif %}
                            </div> -->
                            {% if hotel.average_rating != None %}
                                <div id="review_summary">
                                    <strong>{{hotel.average_rating}}/5</strong>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="comments utf_listing_reviews">
                    <ul>
                        {% for a in all_reviews %}
                        <li>
                            <div class="avatar"><img src="{{ a.user.profile.image.url }}" alt="" /></div>
                            <div class="utf_comment_content">
                                <div class="utf_arrow_comment"></div>
                                <div class="utf_by_comment"><p>{{ a.user.profile.full_name }} - {{ a.rating }} <i class="fas fa-star text-warning"></i></p> <span class="date"><i class="fa fa-clock-o"></i> {{ a.date }}</span></div>
                                <p>{{ a.review }}</p>
                            </div>
                        </li>
                        {% empty %}
                        <li>
                            <div class="utf_comment_content">
                                <div class="utf_arrow_comment"></div>
                                <div class="utf_by_comment">{% trans "No Reviews Yet" %}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 col-md-4 margin-top-75 sidebar-search">
            <div class="utf_box_widget booking_widget_box">
                <h3><i class="fa fa-calendar"></i> {% trans "Booking" %}</h3>
                <form class="row with-forms margin-top-0" method="POST" action="{% url 'booking:check_room_availability' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{hotel.id}}" name="hotel-id" id="">
                    <div class="col-lg-12 col-md-12 select_date_box">
                        <label for="">{% trans "Check-in Date" %}</label>
                        <input type="date" id="date-picker" name="checkin" placeholder="Select Date">
                    </div>
                    <div class="col-lg-12 col-md-12 select_date_box">
                        <label for="">{% trans "Check-out Date" %}</label>
                        <input type="date" name="checkout" id="date-picker" placeholder="Select Date">
                    </div>
                    <div class="with-forms">
                        <div class="col-lg-12 col-md-12">
                            <a href="#" style="display: none;"> <span class="qtyTotal" name="qtyTotal"></span></a>
                            <div class="panel-dropdown-content">
                                <div class="qtyButtons">
                                    <div class="qtyTitle">{% trans "Adults" %}</div>
                                    <input type="text" name="adult" value="2">
                                </div>
                                <div class="qtyButtons">
                                    <div class="qtyTitle">{% trans "Childrens" %}</div>
                                    <input type="text" name="children" value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="with-forms margin-top-30">
                        <div class="col-lg-12 col-md-12">
                            <a href="#">{% trans "Select Room Type" %}</a>
                            <select name="room-type" class="utf_chosen_select_single" required>
                                <option value="">{% trans "Select Room" %}</option>
                                {% for r in hotel.hotel_room_types %}
                                <option value="{{r.slug}}">{{r.type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="utf_progress_button button fullwidth_block margin-top-5">{% trans "Check Availability" %}</button>
                </form>
                <div class="clearfix"></div>
            </div>


        </div>
    </div>
</div>

<!-- Кастомные модальные окна -->
{% for r in hotel.hotel_room_types %}
<div class="custom-modal" id="customModal{{ r.id }}">
    <div class="custom-modal-backdrop"></div>
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h5 class="custom-modal-title">{{ r.type }}</h5>
            <button type="button" class="custom-modal-close">×</button>
        </div>
        <div class="custom-modal-body">
            <div class="custom-room-gallery">
                <div class="custom-main-image">
                    {% with r.roomtype_gallery.all|first as first_image %}
                    <img src="{{ first_image.image.url|default:'/static/images/placeholder.jpg' }}" alt="Room photo">
                    {% endwith %}
                </div>
                <div class="custom-thumbnail-container">
                    {% for photo in r.roomtype_gallery.all %}
                    <img src="{{ photo.image.url }}" alt="Thumbnail" class="custom-thumbnail" data-full="{{ photo.image.url }}">
                    {% endfor %}
                </div>
            </div>
            <div class="custom-room-description">
                {% for description in r.roomtype_description.all %}
                <p>{{ description.description | safe }}</p>
                {% empty %}
                <p class="hotel-room-description">Welcome to Oceanview Retreat, a luxurious seaside hotel offering elegance, comfort, and world-class service. Nestled along a pristine coastline, our hotel features stunning ocean views, modern rooms with premium amenities, and exceptional dining experiences. Whether you're here for a romantic getaway, a family vacation, or a business trip, Oceanview Retreat ensures a memorable stay. Relax in our spa, enjoy a cocktail by the infinity pool, or explore nearby attractions. Our dedicated staff is committed to providing personalized service to make your stay unforgettable. Discover tranquility, adventure, and sophistication all in one place—your perfect escape begins here.</p>
                {% endfor %}

                <div class="room-size-info">
                    {% trans "Room size" %}: {{ r.room_size }} m²
                </div>

                <div class="room-features-icons">
                    {% for feature in r.roomtype_features.all %}
                    <div class="feature-icon-item">
                        <img src="{% static 'icons/' %}{{ feature.icon }}" alt="{{ feature.name }}">
                        <span>{{ feature.name }}</span>
                    </div>
                    {% endfor %}
                </div>

                <div class="room-features-section">
                    {% for feature in r.roomtype_features_detailed.all %}
                        {% ifchanged feature.type_of_amenity %}
                            <div class="room-feature-category">{{ feature.type_of_amenity }}:</div>
                        {% endifchanged %}
                        <div class="room-feature-item">
                            <i class="fas fa-check"></i>
                            <span>{{ feature.text }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="custom-modal-footer">
            <button type="button" class="custom-btn-close">{% trans "Close" %}</button>
        </div>
    </div>

</div>
{% endfor %}

{% endblock content %}

{% block script_links %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Функция для инициализации галереи в модальном окне
    function initGallery(modal) {
        const mainImage = modal.querySelector('.custom-main-image img');
        const thumbnails = modal.querySelectorAll('.custom-thumbnail');
        
        if (!mainImage || thumbnails.length === 0) return;

        thumbnails.forEach(thumb => {
            thumb.addEventListener('click', function(e) {
                e.preventDefault();
                const fullImageUrl = this.getAttribute('data-full');
                if (fullImageUrl) {
                    mainImage.src = fullImageUrl;
                    thumbnails.forEach(t => t.classList.remove('active'));
                    this.classList.add('active');
                }
            });
        });

        thumbnails[0]?.classList.add('active');
    }

    // Открытие/закрытие модального окна
    document.querySelectorAll('.hrm-photo-btn').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const roomId = this.getAttribute('data-room-id');
            const modal = document.getElementById('customModal' + roomId);
            if (modal) {
                modal.classList.add('show');
                document.body.style.overflow = 'hidden'; // Блокируем прокрутку
                initGallery(modal);
            }
        });
    });

    // Закрытие модального окна
    function closeModal(modal) {
        modal.classList.remove('show');
        document.body.style.overflow = ''; // Восстанавливаем прокрутку
    }

    // Закрытие по клику на кнопку закрытия
    document.querySelectorAll('.custom-modal-close, .custom-btn-close').forEach(button => {
        button.addEventListener('click', function() {
            const modal = this.closest('.custom-modal');
            closeModal(modal);
        });
    });

    // Закрытие по клику на фон
    document.querySelectorAll('.custom-modal-backdrop').forEach(backdrop => {
        backdrop.addEventListener('click', function() {
            const modal = this.closest('.custom-modal');
            closeModal(modal);
        });
    });

    // Закрытие по клавише Escape
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Escape') {
            const openModal = document.querySelector('.custom-modal.show');
            if (openModal) {
                closeModal(openModal);
            }
        }
    });

    // Скрипт для копирования URL
    var $temp = $("<input>");
    var $url = $(location).attr('href');
    $('#clipboard').on('click', function() {
        $("body").append($temp);
        $temp.val($url).select();
        document.execCommand("copy");
        $temp.remove();
        $("#clipboard").html("URL copied <i class='fas fa-check-circle'></i>");
    });
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const checkinInput = document.querySelector('input[name="checkin"]');
    const checkoutInput = document.querySelector('input[name="checkout"]');
    
    // Устанавливаем минимальную дату для check-in как сегодня
    const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0');
    const day = String(today.getDate()).padStart(2, '0');
    const minDate = `${year}-${month}-${day}`;
    
    checkinInput.min = minDate;
    checkinInput.value = minDate;
    
    // Устанавливаем минимальную дату для check-out как завтра
    const tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1);
    const tomorrowYear = tomorrow.getFullYear();
    const tomorrowMonth = String(tomorrow.getMonth() + 1).padStart(2, '0');
    const tomorrowDay = String(tomorrow.getDate()).padStart(2, '0');
    const minCheckoutDate = `${tomorrowYear}-${tomorrowMonth}-${tomorrowDay}`;
    
    checkoutInput.min = minCheckoutDate;
    checkoutInput.value = minCheckoutDate;
    
    // Обработчик изменения даты check-in
    checkinInput.addEventListener('change', function() {
        const checkinDate = new Date(this.value);
        const nextDay = new Date(checkinDate);
        nextDay.setDate(nextDay.getDate() + 1);
        
        const nextDayYear = nextDay.getFullYear();
        const nextDayMonth = String(nextDay.getMonth() + 1).padStart(2, '0');
        const nextDayDay = String(nextDay.getDate()).padStart(2, '0');
        const nextDayFormatted = `${nextDayYear}-${nextDayMonth}-${nextDayDay}`;
        
        checkoutInput.min = nextDayFormatted;
        
        // Если текущая дата check-out раньше новой минимальной даты
        if (new Date(checkoutInput.value) < nextDay) {
            checkoutInput.value = nextDayFormatted;
        }
    });
});
</script>
{% endblock script_links %}