{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block special_header_links %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexsearchbar.css' %}">

{% endblock special_header_links %}
{% block content %}
        <!-- Banner -->
        <div class="search_container_block main_search_block" data-background-image="{% static 'images/home_section_1.jpg' %}">
            <div class="main_inner_search_block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{% trans "Alakol vacation bases" %}</h2>
                            <h4>{% trans "Discover top rated hotels of Alakol" %}</h4>
                            <div class="main_input_search_part">
                                <form action="{% url 'search:search_results' %}" method="get" class="main_input_search_part_form">
                                    <div class="main_input_search_part_item">
                                        <input type="text" placeholder="{% trans 'Hotel...' %}" name="name" value="" />
                                    </div>
                                    <div class="main_input_search_part_item main-search-input-item search-input-icon">
                                        <input type="text" placeholder="{% trans 'Select Booking Date' %}" id="booking-date-search">
                                        <i class="fa fa-calendar"></i>
                                        <input type="hidden" name="check_in_date" id="check_in_date">
                                        <input type="hidden" name="check_out_date" id="check_out_date">
                                    </div>
<!--                                    <div class="main_input_search_part_item intro-search-field">-->
<!--                                        <select name="guests" data-placeholder="{% trans 'Number of Guests' %}" class="selectpicker default" title="{% trans 'Guests' %}" data-live-search="true" data-selected-text-format="count" data-size="5">-->
<!--                                            <option value="1">{% trans "1 Guest" %}</option>-->
<!--                                            <option value="2">{% trans "2 Guests" %}</option>-->
<!--                                            <option value="3">{% trans "3 Guests" %}</option>-->
<!--                                            <option value="4">{% trans "4 Guests" %}</option>-->
<!--                                            <option value="5">{% trans "5+ Guests" %}</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
                                    <div class="main_input_search_part_item guests-count">
                                        <div class="guest-stepper-base">
                                            <span for="guests">{% trans 'Number of Guests' %}</span>
                                            <div class="guest-stepper">
                                                <button type="button" class="stepper-btn decrement">−</button>
                                                <input class="guest-stepper-value" type="number" id="guests" name="guests" min="1" max="99" value="1" />
                                                <button type="button" class="stepper-btn increment">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button" type="submit">{% trans "Search" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="fullwidth_block margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
            <div class="container">
                <div class="row slick_carousel_slider">
                    <div class="col-md-12">
                        <h3 class="headline_part centered margin-bottom-45">{% trans "Our Popular Bases" %} <span>{% trans "Explore the greates places in the Alakol" %}</span> </h3>
                    </div>

                    <div class="row">
                       
                                {% for h in hotel %}
                                    <div class="col-lg-4">
                                        <a href="{% url 'hotel:detail' h.slug %}" class="utf_listing_item-container compact">
                                            <div class="utf_listing_item"> <img src="{{h.image.url}}" alt=""> 
                                                <!-- <span class="tag"> <i class="im im-icon-Chef-Hat"></i> Restaurant </span>  -->
                                                <!-- <span class="featured_tag">Featured</span> -->
                                                <span class="utf_open_now">{% trans "Open Now" %}</span>
                                                <div class="utf_listing_item_content">
                                                    <div class="utf_listing_prige_block">
                                                        <!-- <span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $25 - $55</span> -->
                                                        <!-- <span class="utp_approve_item"><i class="utf_approve_listing"></i></span> -->
                                                    </div>
                                                    <h3>{{h.name|truncatechars:20}}</h3>
                                                    <span><i class="fas fa-location-arrow"></i> {{h.address}}</span>
                                                    <span><i class="fas fa-phone"></i> {{h.mobile}}</span>
                                                </div>
                                            </div>
                                            <div class="utf_star_rating_section" data-rating="{{h.average_rating}}">
                                                
                                                {% if h.average_rating == None %}
                                                <div class="utf_counter_star_rating">{% trans "No Rating Yet" %}</div>
                                                {% else %}
                                                <div class="utf_counter_star_rating">{{h.average_rating}}/5 ({{h.rating_count}} {% trans "reviews" %}) </div>
                                                {% endif %}
                                                    
                                                {% comment %} <span class="utf_view_count"> {{h.views}}1241241244412123</span> {% endcomment %}
                                                <span class="like-icon add-to-bookmark-{{h.id}}" data-hotel="{{h.id}}" id="add-to-bookmark"></span>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}

                               
                            
                    </div>
                </div>
            </div>
        </section>


        <div class="clearfix"></div>









<script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'scripts/moment.min.js' %}"></script>
<script src="{% static 'scripts/daterangepicker.js' %}"></script>
<script src="{% static 'scripts/guest-stepper.js' %}"></script>

{% endblock content %}

{% block script %}

<script>
    // Обработка выбора дат на главной странице
    $(document).ready(function() {
        // Инициализация datepicker
        $('#booking-date-search').daterangepicker({
            autoUpdateInput: false,
            minDate: moment(),
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD',
                separator: ' - ',
                applyLabel: '{% trans "Apply" %}',
                cancelLabel: '{% trans "Cancel" %}',
                fromLabel: '{% trans "From" %}',
                toLabel: '{% trans "To" %}',
                daysOfWeek: ['{% trans "Su" %}', '{% trans "Mo" %}', '{% trans "Tu" %}', '{% trans "We" %}', '{% trans "Th" %}', '{% trans "Fr" %}', '{% trans "Sa" %}'],
                monthNames: ['{% trans "January" %}', '{% trans "February" %}', '{% trans "March" %}', '{% trans "April" %}', '{% trans "May" %}', '{% trans "June" %}', '{% trans "July" %}', '{% trans "August" %}', '{% trans "September" %}', '{% trans "October" %}', '{% trans "November" %}', '{% trans "December" %}'],
                firstDay: 1
            }
        });
        
        // Обработка выбора дат
        $('#booking-date-search').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            $('#check_in_date').val(picker.startDate.format('YYYY-MM-DD'));
            $('#check_out_date').val(picker.endDate.format('YYYY-MM-DD'));
        });
        
        $('#booking-date-search').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
            $('#check_in_date').val('');
            $('#check_out_date').val('');
        });
    });
</script>
{% endblock %}
    