--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO alakol_admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO alakol_admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO alakol_admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: booking_roomunavailability; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.booking_roomunavailability (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    reason character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.booking_roomunavailability OWNER TO alakol_admin;

--
-- Name: booking_roomunavailability_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.booking_roomunavailability ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.booking_roomunavailability_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO alakol_admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO alakol_admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO alakol_admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO alakol_admin;

--
-- Name: hotel_booking; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_booking (
    id bigint NOT NULL,
    check_in_date date NOT NULL,
    check_out_date date NOT NULL,
    is_active boolean NOT NULL,
    booking_id character varying(20) NOT NULL,
    date timestamp with time zone,
    hotel_id bigint,
    num_adults integer NOT NULL,
    num_children integer NOT NULL,
    user_id bigint,
    total numeric(12,2) NOT NULL,
    total_days integer NOT NULL,
    room_type_id bigint,
    checked_in boolean NOT NULL,
    checked_out boolean NOT NULL,
    email character varying(254),
    full_name character varying(1000),
    phone character varying(1000),
    before_discount numeric(12,2) NOT NULL,
    saved numeric(12,2) NOT NULL,
    payment_status character varying(100) NOT NULL,
    checked_in_tracker boolean NOT NULL,
    checked_out_tracker boolean NOT NULL,
    robokassa_inv_id integer,
    created_at timestamp with time zone,
    expires_at timestamp with time zone,
    country_code character varying(10),
    selected_rooms_data jsonb,
    selection_data jsonb,
    payment_for_hotel numeric(12,2) NOT NULL,
    prepayment numeric(12,2) NOT NULL,
    CONSTRAINT hotel_booking_num_adults_check CHECK ((num_adults >= 0)),
    CONSTRAINT hotel_booking_num_children_check CHECK ((num_children >= 0)),
    CONSTRAINT hotel_booking_total_days_check CHECK ((total_days >= 0))
);


ALTER TABLE public.hotel_booking OWNER TO alakol_admin;

--
-- Name: hotel_booking_coupons; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_booking_coupons (
    id bigint NOT NULL,
    booking_id bigint NOT NULL,
    coupon_id bigint NOT NULL
);


ALTER TABLE public.hotel_booking_coupons OWNER TO alakol_admin;

--
-- Name: hotel_booking_coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_booking_coupons ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_booking_coupons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_booking_room; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_booking_room (
    id bigint NOT NULL,
    booking_id bigint NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.hotel_booking_room OWNER TO alakol_admin;

--
-- Name: hotel_booking_room_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_booking_room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_booking_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_bookmark; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_bookmark (
    id bigint NOT NULL,
    bid character varying(20) NOT NULL,
    date date NOT NULL,
    hotel_id bigint,
    user_id bigint
);


ALTER TABLE public.hotel_bookmark OWNER TO alakol_admin;

--
-- Name: hotel_bookmark_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_bookmark ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_bookmark_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_coupon; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_coupon (
    id bigint NOT NULL,
    code character varying(1000) NOT NULL,
    type character varying(100) NOT NULL,
    discount integer NOT NULL,
    redemption integer NOT NULL,
    date timestamp with time zone NOT NULL,
    active boolean NOT NULL,
    make_public boolean NOT NULL,
    valid_from date NOT NULL,
    valid_to date NOT NULL,
    cid character varying(25) NOT NULL
);


ALTER TABLE public.hotel_coupon OWNER TO alakol_admin;

--
-- Name: hotel_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_couponusers; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_couponusers (
    id bigint NOT NULL,
    full_name character varying(1000) NOT NULL,
    email character varying(1000) NOT NULL,
    mobile character varying(1000) NOT NULL,
    booking_id bigint NOT NULL,
    coupon_id bigint NOT NULL
);


ALTER TABLE public.hotel_couponusers OWNER TO alakol_admin;

--
-- Name: hotel_couponusers_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_couponusers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_couponusers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotel; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_hotel (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    image character varying(100) NOT NULL,
    address character varying(200) NOT NULL,
    mobile character varying(20) NOT NULL,
    email character varying(20) NOT NULL,
    status character varying(10),
    views integer NOT NULL,
    featured boolean NOT NULL,
    hid character varying(20) NOT NULL,
    slug character varying(50),
    date timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    description_en text,
    description_kk text,
    description_ru text,
    name_en character varying(100),
    name_kk character varying(100),
    name_ru character varying(100),
    check_in_time time without time zone,
    check_out_time time without time zone,
    end_date date,
    start_date date,
    CONSTRAINT hotel_hotel_views_check CHECK ((views >= 0))
);


ALTER TABLE public.hotel_hotel OWNER TO alakol_admin;

--
-- Name: hotel_hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_hotel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotelfaqs; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_hotelfaqs (
    id bigint NOT NULL,
    question character varying(1000) NOT NULL,
    answer text,
    date timestamp with time zone NOT NULL,
    hfid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL,
    answer_en text,
    answer_kk text,
    answer_ru text,
    question_en character varying(1000),
    question_kk character varying(1000),
    question_ru character varying(1000)
);


ALTER TABLE public.hotel_hotelfaqs OWNER TO alakol_admin;

--
-- Name: hotel_hotelfaqs_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_hotelfaqs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotelfaqs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotelfeatures; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_hotelfeatures (
    id bigint NOT NULL,
    icon character varying(100),
    name character varying(35) NOT NULL,
    hfid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_hotelfeatures OWNER TO alakol_admin;

--
-- Name: hotel_hotelfeatures_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_hotelfeatures ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotelfeatures_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_hotelgallery; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_hotelgallery (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    hgid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_hotelgallery OWNER TO alakol_admin;

--
-- Name: hotel_hotelgallery_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_hotelgallery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_hotelgallery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_notification; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_notification (
    id bigint NOT NULL,
    type character varying(100) NOT NULL,
    seen boolean NOT NULL,
    nid character varying(20) NOT NULL,
    date date NOT NULL,
    booking_id bigint,
    user_id bigint
);


ALTER TABLE public.hotel_notification OWNER TO alakol_admin;

--
-- Name: hotel_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_review; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_review (
    id bigint NOT NULL,
    review text,
    reply character varying(1000),
    rating integer NOT NULL,
    active boolean NOT NULL,
    date timestamp with time zone NOT NULL,
    hotel_id bigint,
    user_id bigint
);


ALTER TABLE public.hotel_review OWNER TO alakol_admin;

--
-- Name: hotel_review_helpful; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_review_helpful (
    id bigint NOT NULL,
    review_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.hotel_review_helpful OWNER TO alakol_admin;

--
-- Name: hotel_review_helpful_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_review_helpful ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_review_helpful_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_review_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_room; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_room (
    id bigint NOT NULL,
    room_number character varying(10) NOT NULL,
    room_type_id bigint NOT NULL,
    is_available boolean NOT NULL,
    rid character varying(20) NOT NULL,
    date timestamp with time zone NOT NULL,
    hotel_id bigint NOT NULL
);


ALTER TABLE public.hotel_room OWNER TO alakol_admin;

--
-- Name: hotel_room_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomservices; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_roomservices (
    id bigint NOT NULL,
    date date NOT NULL,
    service_type character varying(20) NOT NULL,
    price numeric(12,2) NOT NULL,
    booking_id bigint,
    room_id bigint NOT NULL
);


ALTER TABLE public.hotel_roomservices OWNER TO alakol_admin;

--
-- Name: hotel_roomservices_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_roomservices ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomservices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomtype; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_roomtype (
    id bigint NOT NULL,
    type character varying(120) NOT NULL,
    price numeric(12,2) NOT NULL,
    rtid character varying(20) NOT NULL,
    date timestamp with time zone NOT NULL,
    hotel_id bigint NOT NULL,
    number_of_beds integer NOT NULL,
    slug character varying(50),
    room_capacity integer NOT NULL,
    room_size integer NOT NULL,
    dynamic_pricing jsonb,
    CONSTRAINT hotel_roomtype_number_of_beds_check CHECK ((number_of_beds >= 0)),
    CONSTRAINT hotel_roomtype_room_capacity_check CHECK ((room_capacity >= 0))
);


ALTER TABLE public.hotel_roomtype OWNER TO alakol_admin;

--
-- Name: hotel_roomtype_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_roomtype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomtype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomtypedescription; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_roomtypedescription (
    id bigint NOT NULL,
    description text,
    hotel_id bigint NOT NULL,
    room_type_id bigint NOT NULL,
    description_en text,
    description_kk text,
    description_ru text
);


ALTER TABLE public.hotel_roomtypedescription OWNER TO alakol_admin;

--
-- Name: hotel_roomtypedescription_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_roomtypedescription ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomtypedescription_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomtypefeatures; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_roomtypefeatures (
    id bigint NOT NULL,
    icon character varying(100),
    name character varying(100) NOT NULL,
    hfid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL,
    room_type_id bigint NOT NULL
);


ALTER TABLE public.hotel_roomtypefeatures OWNER TO alakol_admin;

--
-- Name: hotel_roomtypefeatures_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_roomtypefeatures ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomtypefeatures_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomtypefeaturesdetailed; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_roomtypefeaturesdetailed (
    id bigint NOT NULL,
    type_of_amenity character varying(100),
    text character varying(100) NOT NULL,
    hfid character varying(20) NOT NULL,
    hotel_id bigint NOT NULL,
    room_type_id bigint NOT NULL,
    text_en character varying(100),
    text_kk character varying(100),
    text_ru character varying(100)
);


ALTER TABLE public.hotel_roomtypefeaturesdetailed OWNER TO alakol_admin;

--
-- Name: hotel_roomtypefeaturesdetailed_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_roomtypefeaturesdetailed ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomtypefeaturesdetailed_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_roomtypegallery; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.hotel_roomtypegallery (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    hotel_id bigint NOT NULL,
    room_type_id bigint NOT NULL
);


ALTER TABLE public.hotel_roomtypegallery OWNER TO alakol_admin;

--
-- Name: hotel_roomtypegallery_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.hotel_roomtypegallery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hotel_roomtypegallery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: legal_documentview; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.legal_documentview (
    id bigint NOT NULL,
    document_type character varying(50) NOT NULL,
    ip_address inet NOT NULL,
    user_agent text NOT NULL,
    viewed_at timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.legal_documentview OWNER TO alakol_admin;

--
-- Name: legal_documentview_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.legal_documentview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.legal_documentview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: legal_legaldocument; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.legal_legaldocument (
    id bigint NOT NULL,
    document_type character varying(50) NOT NULL,
    version character varying(10) NOT NULL,
    content text NOT NULL,
    effective_date timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    language character varying(2) NOT NULL
);


ALTER TABLE public.legal_legaldocument OWNER TO alakol_admin;

--
-- Name: legal_legaldocument_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.legal_legaldocument ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.legal_legaldocument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: legal_userconsent; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.legal_userconsent (
    id bigint NOT NULL,
    document_type character varying(50) NOT NULL,
    version character varying(20) NOT NULL,
    consented_at timestamp with time zone NOT NULL,
    ip_address inet,
    user_agent text,
    is_active boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.legal_userconsent OWNER TO alakol_admin;

--
-- Name: legal_userconsent_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.legal_userconsent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.legal_userconsent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_tag; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.taggit_tag (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL
);


ALTER TABLE public.taggit_tag OWNER TO alakol_admin;

--
-- Name: taggit_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.taggit_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_taggeditem; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.taggit_taggeditem (
    id integer NOT NULL,
    object_id integer NOT NULL,
    content_type_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.taggit_taggeditem OWNER TO alakol_admin;

--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.taggit_taggeditem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_taggeditem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_profile; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.userauths_profile (
    id bigint NOT NULL,
    pid character varying(25) NOT NULL,
    image character varying(100),
    full_name character varying(1000),
    phone character varying(100),
    gender character varying(100),
    country character varying(100),
    city character varying(100),
    address character varying(1000),
    verified boolean NOT NULL,
    date timestamp with time zone,
    user_id bigint NOT NULL,
    wallet numeric(12,2) NOT NULL
);


ALTER TABLE public.userauths_profile OWNER TO alakol_admin;

--
-- Name: userauths_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.userauths_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_user; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.userauths_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    full_name character varying(1000),
    username character varying(100),
    email character varying(254) NOT NULL,
    phone character varying(100),
    gender character varying(100),
    otp character varying(100)
);


ALTER TABLE public.userauths_user OWNER TO alakol_admin;

--
-- Name: userauths_user_groups; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.userauths_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.userauths_user_groups OWNER TO alakol_admin;

--
-- Name: userauths_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.userauths_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_user_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.userauths_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_user_user_permissions; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.userauths_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.userauths_user_user_permissions OWNER TO alakol_admin;

--
-- Name: userauths_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.userauths_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userauths_userconsent; Type: TABLE; Schema: public; Owner: alakol_admin
--

CREATE TABLE public.userauths_userconsent (
    id bigint NOT NULL,
    consent_type character varying(50) NOT NULL,
    given_at timestamp with time zone NOT NULL,
    ip_address inet NOT NULL,
    user_agent text NOT NULL,
    document_version character varying(10) NOT NULL,
    is_active boolean NOT NULL,
    withdrawn_at timestamp with time zone,
    user_id bigint NOT NULL
);


ALTER TABLE public.userauths_userconsent OWNER TO alakol_admin;

--
-- Name: userauths_userconsent_id_seq; Type: SEQUENCE; Schema: public; Owner: alakol_admin
--

ALTER TABLE public.userauths_userconsent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userauths_userconsent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.auth_group (id, name) FROM stdin;
1	Manager
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
13	1	13
14	1	14
15	1	15
16	1	16
26	1	98
28	1	100
49	1	25
50	1	26
52	1	28
57	1	21
60	1	24
61	1	29
62	1	30
63	1	31
64	1	32
65	1	37
66	1	38
67	1	39
68	1	40
73	1	41
74	1	42
75	1	43
76	1	44
81	1	49
82	1	50
83	1	51
84	1	52
104	1	64
109	1	69
110	1	70
111	1	71
112	1	72
117	1	73
118	1	74
119	1	75
120	1	76
121	1	77
122	1	78
123	1	79
124	1	80
125	1	81
126	1	82
127	1	83
128	1	84
129	1	45
130	1	46
131	1	47
132	1	48
147	1	92
148	1	89
149	1	90
150	1	91
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: booking_roomunavailability; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.booking_roomunavailability (id, start_date, end_date, reason, created_at, updated_at, room_id) FROM stdin;
1	2025-05-22	2025-09-28		2025-05-24 22:45:45.869236+05	2025-05-24 22:45:45.869236+05	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: hotel_booking; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: hotel_booking_coupons; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_booking_coupons (id, booking_id, coupon_id) FROM stdin;
\.


--
-- Data for Name: hotel_booking_room; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_booking_room (id, booking_id, room_id) FROM stdin;
1	1	1
2	1	2
3	2	2
4	3	2
5	4	1
6	5	1
7	6	1
8	7	3
9	8	2
10	8	3
11	9	2
12	9	3
13	10	2
14	10	3
15	11	4
16	12	3
19	15	2
20	16	4
\.


--
-- Data for Name: hotel_bookmark; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_bookmark (id, bid, date, hotel_id, user_id) FROM stdin;
6	erpxvmjrqx	2025-06-03	1	1
\.


--
-- Data for Name: hotel_coupon; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_coupon (id, code, type, discount, redemption, date, active, make_public, valid_from, valid_to, cid) FROM stdin;
\.


--
-- Data for Name: hotel_couponusers; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_couponusers (id, full_name, email, mobile, booking_id, coupon_id) FROM stdin;
\.


--
-- Data for Name: hotel_hotel; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: hotel_hotelfaqs; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: hotel_hotelfeatures; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_hotelfeatures (id, icon, name, hfid, hotel_id) FROM stdin;
1	wifi.png	zswlzdqmympfvhldflvnwkjxqjxxlbitjqa	SwkdECVDJK	1
2	fan.png	zswlzdqmympfvhldflvnwkjxqjxxlbitjqa	Z87xuJNGqR	1
\.


--
-- Data for Name: hotel_hotelgallery; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_hotelgallery (id, image, hgid, hotel_id) FROM stdin;
1	hotel_gallery/Houghton-Hotel-3-20-scaled_20t8Bl0.jpg	ZKRdWHAskS	1
2	hotel_gallery/istockphoto-119926339-612x612_0SoS3eE.jpg	Ksi4bw5UR9	1
3	hotel_gallery/1407953244000-177513283_H2AmFQq.webp	3vqh9sgbJu	1
\.


--
-- Data for Name: hotel_notification; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_notification (id, type, seen, nid, date, booking_id, user_id) FROM stdin;
1	Booking Confirmed	f	vzdmvvyxai	2025-05-28	8	\N
2	Booking Confirmed	f	bmzizrzpvr	2025-05-29	9	\N
3	Booking Confirmed	f	biuycyjjof	2025-05-29	10	\N
\.


--
-- Data for Name: hotel_review; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_review (id, review, reply, rating, active, date, hotel_id, user_id) FROM stdin;
4	asd	replyreplyreplyreplyreplyreply	4	t	2025-05-25 00:04:52.378703+05	1	4
5	534354354	345	5	t	2025-05-25 03:53:19.487879+05	1	4
\.


--
-- Data for Name: hotel_review_helpful; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_review_helpful (id, review_id, user_id) FROM stdin;
\.


--
-- Data for Name: hotel_room; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_room (id, room_number, room_type_id, is_available, rid, date, hotel_id) FROM stdin;
1	101	1	t	bSR2wbzBRK	2025-05-19 20:32:22.388474+05	1
2	102	1	t	oFeMJSUTKP	2025-05-19 20:32:22.390498+05	1
3	103	1	t	FHpfKeFBwZ	2025-05-22 12:44:44.193001+05	1
4	104	1	t	Qs9qVJhxWK	2025-05-22 12:44:54.679697+05	1
5	101	2	t	2u9ZQjtiBv	2025-06-04 08:49:57.497833+05	1
\.


--
-- Data for Name: hotel_roomservices; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_roomservices (id, date, service_type, price, booking_id, room_id) FROM stdin;
\.


--
-- Data for Name: hotel_roomtype; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: hotel_roomtypedescription; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: hotel_roomtypefeatures; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_roomtypefeatures (id, icon, name, hfid, hotel_id, room_type_id) FROM stdin;
1	wifi.png	Free wifi in room	P2Wijw7Lm3	1	1
\.


--
-- Data for Name: hotel_roomtypefeaturesdetailed; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_roomtypefeaturesdetailed (id, type_of_amenity, text, hfid, hotel_id, room_type_id, text_en, text_kk, text_ru) FROM stdin;
1	private_bathroom	olor leo. Donec scelerisque sapien sed eros vehicula accumsan. Sed porta egestas scelerisque. Intege	TK2oQjNa5L	1	1	olor leo. Donec scelerisque sapien sed eros vehicula accumsan. Sed porta egestas scelerisque. Intege	olor leo. Donec scelerisque sapien sed eros vehicula accumsan. Sed porta egestas scelerisque. Intege	olor leo. Donec scelerisque sapien sed eros vehicula accumsan. Sed porta egestas scelerisque. Intege
\.


--
-- Data for Name: hotel_roomtypegallery; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.hotel_roomtypegallery (id, image, hotel_id, room_type_id) FROM stdin;
1	room_type_images/376785918.jpg	1	1
2	room_type_images/376785930_Mf9DI2h.jpg	1	1
3	room_type_images/Bellagio-Hotel-Casino-Las-Vegas_P3bRrwX.webp	1	1
4	room_type_images/marquis-3-min.jpg	1	1
\.


--
-- Data for Name: legal_documentview; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: legal_legaldocument; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.legal_legaldocument (id, document_type, version, content, effective_date, created_at, is_active, language) FROM stdin;
\.


--
-- Data for Name: legal_userconsent; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.legal_userconsent (id, document_type, version, consented_at, ip_address, user_agent, is_active, user_id) FROM stdin;
\.


--
-- Data for Name: taggit_tag; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.taggit_tag (id, name, slug) FROM stdin;
\.


--
-- Data for Name: taggit_taggeditem; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.taggit_taggeditem (id, object_id, content_type_id, tag_id) FROM stdin;
\.


--
-- Data for Name: userauths_profile; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.userauths_profile (id, pid, image, full_name, phone, gender, country, city, address, verified, date, user_id, wallet) FROM stdin;
5	cllbbkr	default.jpg	╨Э╤Г╤А╨╢╨░╨╜ ╨Ц╤Г╨╝╨░╤В╨░╨╡╨▓	\N	\N	\N	\N	\N	f	2025-05-31 05:07:33.385936+05	5	0.00
4	dcpquoq	default.jpg	Manager	\N	\N	\N	\N	\N	f	2025-05-19 20:19:58.355597+05	4	0.00
1	aidsf3i	default.jpg	admin	\N	\N	\N	\N	\N	t	2025-05-19 19:19:54.007413+05	1	0.00
\.


--
-- Data for Name: userauths_user; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--



--
-- Data for Name: userauths_user_groups; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.userauths_user_groups (id, user_id, group_id) FROM stdin;
2	4	1
\.


--
-- Data for Name: userauths_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.userauths_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: userauths_userconsent; Type: TABLE DATA; Schema: public; Owner: alakol_admin
--

COPY public.userauths_userconsent (id, consent_type, given_at, ip_address, user_agent, document_version, is_active, withdrawn_at, user_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 96, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 124, true);


--
-- Name: booking_roomunavailability_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.booking_roomunavailability_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 61, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 31, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 137, true);


--
-- Name: hotel_booking_coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_booking_coupons_id_seq', 1, false);


--
-- Name: hotel_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_booking_id_seq', 16, true);


--
-- Name: hotel_booking_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_booking_room_id_seq', 20, true);


--
-- Name: hotel_bookmark_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_bookmark_id_seq', 6, true);


--
-- Name: hotel_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_coupon_id_seq', 1, false);


--
-- Name: hotel_couponusers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_couponusers_id_seq', 1, false);


--
-- Name: hotel_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_hotel_id_seq', 1, true);


--
-- Name: hotel_hotelfaqs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_hotelfaqs_id_seq', 3, true);


--
-- Name: hotel_hotelfeatures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_hotelfeatures_id_seq', 2, true);


--
-- Name: hotel_hotelgallery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_hotelgallery_id_seq', 3, true);


--
-- Name: hotel_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_notification_id_seq', 3, true);


--
-- Name: hotel_review_helpful_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_review_helpful_id_seq', 1, false);


--
-- Name: hotel_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_review_id_seq', 5, true);


--
-- Name: hotel_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_room_id_seq', 5, true);


--
-- Name: hotel_roomservices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_roomservices_id_seq', 1, false);


--
-- Name: hotel_roomtype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_roomtype_id_seq', 3, true);


--
-- Name: hotel_roomtypedescription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_roomtypedescription_id_seq', 2, true);


--
-- Name: hotel_roomtypefeatures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_roomtypefeatures_id_seq', 1, true);


--
-- Name: hotel_roomtypefeaturesdetailed_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_roomtypefeaturesdetailed_id_seq', 1, true);


--
-- Name: hotel_roomtypegallery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.hotel_roomtypegallery_id_seq', 4, true);


--
-- Name: legal_documentview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.legal_documentview_id_seq', 5, true);


--
-- Name: legal_legaldocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.legal_legaldocument_id_seq', 1, false);


--
-- Name: legal_userconsent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.legal_userconsent_id_seq', 1, false);


--
-- Name: taggit_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.taggit_tag_id_seq', 1, false);


--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.taggit_taggeditem_id_seq', 1, false);


--
-- Name: userauths_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.userauths_profile_id_seq', 6, true);


--
-- Name: userauths_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.userauths_user_groups_id_seq', 2, true);


--
-- Name: userauths_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.userauths_user_id_seq', 6, true);


--
-- Name: userauths_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.userauths_user_user_permissions_id_seq', 1, false);


--
-- Name: userauths_userconsent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: alakol_admin
--

SELECT pg_catalog.setval('public.userauths_userconsent_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: booking_roomunavailability booking_roomunavailability_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.booking_roomunavailability
    ADD CONSTRAINT booking_roomunavailability_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: hotel_booking hotel_booking_booking_id_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_booking_id_key UNIQUE (booking_id);


--
-- Name: hotel_booking_coupons hotel_booking_coupons_booking_id_coupon_id_75675574_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_booking_id_coupon_id_75675574_uniq UNIQUE (booking_id, coupon_id);


--
-- Name: hotel_booking_coupons hotel_booking_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_pkey PRIMARY KEY (id);


--
-- Name: hotel_booking hotel_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_pkey PRIMARY KEY (id);


--
-- Name: hotel_booking_room hotel_booking_room_booking_id_room_id_84803b67_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_booking_id_room_id_84803b67_uniq UNIQUE (booking_id, room_id);


--
-- Name: hotel_booking_room hotel_booking_room_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_pkey PRIMARY KEY (id);


--
-- Name: hotel_bookmark hotel_bookmark_bid_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_bid_key UNIQUE (bid);


--
-- Name: hotel_bookmark hotel_bookmark_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_pkey PRIMARY KEY (id);


--
-- Name: hotel_coupon hotel_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_coupon
    ADD CONSTRAINT hotel_coupon_pkey PRIMARY KEY (id);


--
-- Name: hotel_couponusers hotel_couponusers_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_couponusers
    ADD CONSTRAINT hotel_couponusers_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotel hotel_hotel_hid_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotel
    ADD CONSTRAINT hotel_hotel_hid_key UNIQUE (hid);


--
-- Name: hotel_hotel hotel_hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotel
    ADD CONSTRAINT hotel_hotel_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotelfaqs hotel_hotelfaqs_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotelfaqs
    ADD CONSTRAINT hotel_hotelfaqs_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotelfeatures hotel_hotelfeatures_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotelfeatures
    ADD CONSTRAINT hotel_hotelfeatures_pkey PRIMARY KEY (id);


--
-- Name: hotel_hotelgallery hotel_hotelgallery_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotelgallery
    ADD CONSTRAINT hotel_hotelgallery_pkey PRIMARY KEY (id);


--
-- Name: hotel_notification hotel_notification_nid_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_nid_key UNIQUE (nid);


--
-- Name: hotel_notification hotel_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_pkey PRIMARY KEY (id);


--
-- Name: hotel_review_helpful hotel_review_helpful_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_pkey PRIMARY KEY (id);


--
-- Name: hotel_review_helpful hotel_review_helpful_review_id_user_id_16810bfd_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_review_id_user_id_16810bfd_uniq UNIQUE (review_id, user_id);


--
-- Name: hotel_review hotel_review_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review
    ADD CONSTRAINT hotel_review_pkey PRIMARY KEY (id);


--
-- Name: hotel_room hotel_room_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomservices hotel_roomservices_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomservices
    ADD CONSTRAINT hotel_roomservices_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtype hotel_roomtype_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtype
    ADD CONSTRAINT hotel_roomtype_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtype hotel_roomtype_slug_e72829f6_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtype
    ADD CONSTRAINT hotel_roomtype_slug_e72829f6_uniq UNIQUE (slug);


--
-- Name: hotel_roomtypedescription hotel_roomtypedescription_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypedescription
    ADD CONSTRAINT hotel_roomtypedescription_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtypefeatures hotel_roomtypefeatures_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypefeatures
    ADD CONSTRAINT hotel_roomtypefeatures_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtypefeaturesdetailed hotel_roomtypefeaturesdetailed_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypefeaturesdetailed
    ADD CONSTRAINT hotel_roomtypefeaturesdetailed_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtypegallery hotel_roomtypegallery_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypegallery
    ADD CONSTRAINT hotel_roomtypegallery_pkey PRIMARY KEY (id);


--
-- Name: legal_documentview legal_documentview_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_documentview
    ADD CONSTRAINT legal_documentview_pkey PRIMARY KEY (id);


--
-- Name: legal_legaldocument legal_legaldocument_document_type_version_la_f2620579_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_legaldocument
    ADD CONSTRAINT legal_legaldocument_document_type_version_la_f2620579_uniq UNIQUE (document_type, version, language);


--
-- Name: legal_legaldocument legal_legaldocument_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_legaldocument
    ADD CONSTRAINT legal_legaldocument_pkey PRIMARY KEY (id);


--
-- Name: legal_userconsent legal_userconsent_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_userconsent
    ADD CONSTRAINT legal_userconsent_pkey PRIMARY KEY (id);


--
-- Name: legal_userconsent legal_userconsent_user_id_document_type_version_50198fee_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_userconsent
    ADD CONSTRAINT legal_userconsent_user_id_document_type_version_50198fee_uniq UNIQUE (user_id, document_type, version);


--
-- Name: taggit_tag taggit_tag_name_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_name_key UNIQUE (name);


--
-- Name: taggit_tag taggit_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_pkey PRIMARY KEY (id);


--
-- Name: taggit_tag taggit_tag_slug_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_slug_key UNIQUE (slug);


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_object_i_4bb97a8e_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_object_i_4bb97a8e_uniq UNIQUE (content_type_id, object_id, tag_id);


--
-- Name: taggit_taggeditem taggit_taggeditem_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_pkey PRIMARY KEY (id);


--
-- Name: hotel_roomtypedescription unique_room_type_description; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypedescription
    ADD CONSTRAINT unique_room_type_description UNIQUE (room_type_id);


--
-- Name: booking_roomunavailability unique_room_unavailability_period; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.booking_roomunavailability
    ADD CONSTRAINT unique_room_unavailability_period UNIQUE (room_id, start_date, end_date);


--
-- Name: userauths_profile userauths_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_profile
    ADD CONSTRAINT userauths_profile_pkey PRIMARY KEY (id);


--
-- Name: userauths_profile userauths_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_profile
    ADD CONSTRAINT userauths_profile_user_id_key UNIQUE (user_id);


--
-- Name: userauths_user userauths_user_email_key; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user
    ADD CONSTRAINT userauths_user_email_key UNIQUE (email);


--
-- Name: userauths_user_groups userauths_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_pkey PRIMARY KEY (id);


--
-- Name: userauths_user_groups userauths_user_groups_user_id_group_id_e032b670_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_user_id_group_id_e032b670_uniq UNIQUE (user_id, group_id);


--
-- Name: userauths_user userauths_user_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user
    ADD CONSTRAINT userauths_user_pkey PRIMARY KEY (id);


--
-- Name: userauths_user_user_permissions userauths_user_user_perm_user_id_permission_id_5423ee7a_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user_perm_user_id_permission_id_5423ee7a_uniq UNIQUE (user_id, permission_id);


--
-- Name: userauths_user_user_permissions userauths_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: userauths_userconsent userauths_userconsent_pkey; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_userconsent
    ADD CONSTRAINT userauths_userconsent_pkey PRIMARY KEY (id);


--
-- Name: userauths_userconsent userauths_userconsent_user_id_consent_type_doc_86c5db7f_uniq; Type: CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_userconsent
    ADD CONSTRAINT userauths_userconsent_user_id_consent_type_doc_86c5db7f_uniq UNIQUE (user_id, consent_type, document_version);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: booking_roomunavailability_end_date_ca9d2729; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX booking_roomunavailability_end_date_ca9d2729 ON public.booking_roomunavailability USING btree (end_date);


--
-- Name: booking_roomunavailability_room_id_4a180784; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX booking_roomunavailability_room_id_4a180784 ON public.booking_roomunavailability USING btree (room_id);


--
-- Name: booking_roomunavailability_start_date_bcd5d27e; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX booking_roomunavailability_start_date_bcd5d27e ON public.booking_roomunavailability USING btree (start_date);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: hotel_booki_expires_17ff4c_idx; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booki_expires_17ff4c_idx ON public.hotel_booking USING btree (expires_at);


--
-- Name: hotel_booking_booking_id_0affcb07_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_booking_id_0affcb07_like ON public.hotel_booking USING btree (booking_id varchar_pattern_ops);


--
-- Name: hotel_booking_coupons_booking_id_6573f114; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_coupons_booking_id_6573f114 ON public.hotel_booking_coupons USING btree (booking_id);


--
-- Name: hotel_booking_coupons_coupon_id_a309a0c1; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_coupons_coupon_id_a309a0c1 ON public.hotel_booking_coupons USING btree (coupon_id);


--
-- Name: hotel_booking_created_at_5441296c; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_created_at_5441296c ON public.hotel_booking USING btree (created_at);


--
-- Name: hotel_booking_expires_at_b636f18d; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_expires_at_b636f18d ON public.hotel_booking USING btree (expires_at);


--
-- Name: hotel_booking_hotel_id_dc04efe3; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_hotel_id_dc04efe3 ON public.hotel_booking USING btree (hotel_id);


--
-- Name: hotel_booking_room_booking_id_61fa1c4b; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_room_booking_id_61fa1c4b ON public.hotel_booking_room USING btree (booking_id);


--
-- Name: hotel_booking_room_room_id_0ca3afd2; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_room_room_id_0ca3afd2 ON public.hotel_booking_room USING btree (room_id);


--
-- Name: hotel_booking_room_type_id_0d3f38d2; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_room_type_id_0d3f38d2 ON public.hotel_booking USING btree (room_type_id);


--
-- Name: hotel_booking_user_id_2a2702b8; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_booking_user_id_2a2702b8 ON public.hotel_booking USING btree (user_id);


--
-- Name: hotel_bookmark_bid_258408c0_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_bookmark_bid_258408c0_like ON public.hotel_bookmark USING btree (bid varchar_pattern_ops);


--
-- Name: hotel_bookmark_hotel_id_5cf60386; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_bookmark_hotel_id_5cf60386 ON public.hotel_bookmark USING btree (hotel_id);


--
-- Name: hotel_bookmark_user_id_d6979361; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_bookmark_user_id_d6979361 ON public.hotel_bookmark USING btree (user_id);


--
-- Name: hotel_couponusers_booking_id_4ec3f5fb; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_couponusers_booking_id_4ec3f5fb ON public.hotel_couponusers USING btree (booking_id);


--
-- Name: hotel_couponusers_coupon_id_6aed3d72; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_couponusers_coupon_id_6aed3d72 ON public.hotel_couponusers USING btree (coupon_id);


--
-- Name: hotel_hotel_hid_6812aa5e_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotel_hid_6812aa5e_like ON public.hotel_hotel USING btree (hid varchar_pattern_ops);


--
-- Name: hotel_hotel_slug_9adc6dfc; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotel_slug_9adc6dfc ON public.hotel_hotel USING btree (slug);


--
-- Name: hotel_hotel_slug_9adc6dfc_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotel_slug_9adc6dfc_like ON public.hotel_hotel USING btree (slug varchar_pattern_ops);


--
-- Name: hotel_hotel_user_id_22831f53; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotel_user_id_22831f53 ON public.hotel_hotel USING btree (user_id);


--
-- Name: hotel_hotelfaqs_hotel_id_bc41a234; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotelfaqs_hotel_id_bc41a234 ON public.hotel_hotelfaqs USING btree (hotel_id);


--
-- Name: hotel_hotelfeatures_hotel_id_8f1591cb; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotelfeatures_hotel_id_8f1591cb ON public.hotel_hotelfeatures USING btree (hotel_id);


--
-- Name: hotel_hotelgallery_hotel_id_6c5433aa; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_hotelgallery_hotel_id_6c5433aa ON public.hotel_hotelgallery USING btree (hotel_id);


--
-- Name: hotel_notification_booking_id_c62798a7; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_notification_booking_id_c62798a7 ON public.hotel_notification USING btree (booking_id);


--
-- Name: hotel_notification_nid_4247adb2_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_notification_nid_4247adb2_like ON public.hotel_notification USING btree (nid varchar_pattern_ops);


--
-- Name: hotel_notification_user_id_32a78950; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_notification_user_id_32a78950 ON public.hotel_notification USING btree (user_id);


--
-- Name: hotel_review_helpful_review_id_a1a5bb1c; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_review_helpful_review_id_a1a5bb1c ON public.hotel_review_helpful USING btree (review_id);


--
-- Name: hotel_review_helpful_user_id_97be73f9; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_review_helpful_user_id_97be73f9 ON public.hotel_review_helpful USING btree (user_id);


--
-- Name: hotel_review_hotel_id_84b7e376; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_review_hotel_id_84b7e376 ON public.hotel_review USING btree (hotel_id);


--
-- Name: hotel_review_user_id_aba6c0af; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_review_user_id_aba6c0af ON public.hotel_review USING btree (user_id);


--
-- Name: hotel_room_hotel_id_c05078e5; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_room_hotel_id_c05078e5 ON public.hotel_room USING btree (hotel_id);


--
-- Name: hotel_room_room_type_id_8d455d55; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_room_room_type_id_8d455d55 ON public.hotel_room USING btree (room_type_id);


--
-- Name: hotel_roomservices_booking_id_384f0f77; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomservices_booking_id_384f0f77 ON public.hotel_roomservices USING btree (booking_id);


--
-- Name: hotel_roomservices_room_id_b9919e09; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomservices_room_id_b9919e09 ON public.hotel_roomservices USING btree (room_id);


--
-- Name: hotel_roomtype_hotel_id_1151ebc0; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtype_hotel_id_1151ebc0 ON public.hotel_roomtype USING btree (hotel_id);


--
-- Name: hotel_roomtype_rid_4f764a23_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtype_rid_4f764a23_like ON public.hotel_roomtype USING btree (rtid varchar_pattern_ops);


--
-- Name: hotel_roomtype_slug_e72829f6_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtype_slug_e72829f6_like ON public.hotel_roomtype USING btree (slug varchar_pattern_ops);


--
-- Name: hotel_roomtypedescription_hotel_id_a238aad1; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypedescription_hotel_id_a238aad1 ON public.hotel_roomtypedescription USING btree (hotel_id);


--
-- Name: hotel_roomtypedescription_room_type_id_dfbb7e1b; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypedescription_room_type_id_dfbb7e1b ON public.hotel_roomtypedescription USING btree (room_type_id);


--
-- Name: hotel_roomtypefeatures_hotel_id_3b80ea92; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypefeatures_hotel_id_3b80ea92 ON public.hotel_roomtypefeatures USING btree (hotel_id);


--
-- Name: hotel_roomtypefeatures_room_type_id_567ebc11; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypefeatures_room_type_id_567ebc11 ON public.hotel_roomtypefeatures USING btree (room_type_id);


--
-- Name: hotel_roomtypefeaturesdetailed_hotel_id_6bcdbc71; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypefeaturesdetailed_hotel_id_6bcdbc71 ON public.hotel_roomtypefeaturesdetailed USING btree (hotel_id);


--
-- Name: hotel_roomtypefeaturesdetailed_room_type_id_a113ef92; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypefeaturesdetailed_room_type_id_a113ef92 ON public.hotel_roomtypefeaturesdetailed USING btree (room_type_id);


--
-- Name: hotel_roomtypegallery_hotel_id_bbb4c6e6; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypegallery_hotel_id_bbb4c6e6 ON public.hotel_roomtypegallery USING btree (hotel_id);


--
-- Name: hotel_roomtypegallery_room_type_id_c636e44e; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX hotel_roomtypegallery_room_type_id_c636e44e ON public.hotel_roomtypegallery USING btree (room_type_id);


--
-- Name: legal_documentview_user_id_6e0d8de5; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX legal_documentview_user_id_6e0d8de5 ON public.legal_documentview USING btree (user_id);


--
-- Name: legal_userconsent_user_id_2af572b8; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX legal_userconsent_user_id_2af572b8 ON public.legal_userconsent USING btree (user_id);


--
-- Name: room_end_date_idx; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX room_end_date_idx ON public.booking_roomunavailability USING btree (room_id, end_date);


--
-- Name: room_unavail_idx; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX room_unavail_idx ON public.booking_roomunavailability USING btree (room_id, start_date, end_date);


--
-- Name: taggit_tag_name_58eb2ed9_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX taggit_tag_name_58eb2ed9_like ON public.taggit_tag USING btree (name varchar_pattern_ops);


--
-- Name: taggit_tag_slug_6be58b2c_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX taggit_tag_slug_6be58b2c_like ON public.taggit_tag USING btree (slug varchar_pattern_ops);


--
-- Name: taggit_taggeditem_content_type_id_9957a03c; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX taggit_taggeditem_content_type_id_9957a03c ON public.taggit_taggeditem USING btree (content_type_id);


--
-- Name: taggit_taggeditem_content_type_id_object_id_196cc965_idx; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX taggit_taggeditem_content_type_id_object_id_196cc965_idx ON public.taggit_taggeditem USING btree (content_type_id, object_id);


--
-- Name: taggit_taggeditem_object_id_e2d7d1df; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX taggit_taggeditem_object_id_e2d7d1df ON public.taggit_taggeditem USING btree (object_id);


--
-- Name: taggit_taggeditem_tag_id_f4f5b767; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX taggit_taggeditem_tag_id_f4f5b767 ON public.taggit_taggeditem USING btree (tag_id);


--
-- Name: unavail_end_idx; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX unavail_end_idx ON public.booking_roomunavailability USING btree (end_date);


--
-- Name: unavail_start_idx; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX unavail_start_idx ON public.booking_roomunavailability USING btree (start_date);


--
-- Name: userauths_user_email_5e5b59e6_like; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX userauths_user_email_5e5b59e6_like ON public.userauths_user USING btree (email varchar_pattern_ops);


--
-- Name: userauths_user_groups_group_id_2bd3d457; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX userauths_user_groups_group_id_2bd3d457 ON public.userauths_user_groups USING btree (group_id);


--
-- Name: userauths_user_groups_user_id_70ad3415; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX userauths_user_groups_user_id_70ad3415 ON public.userauths_user_groups USING btree (user_id);


--
-- Name: userauths_user_user_permissions_permission_id_0e980ebe; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX userauths_user_user_permissions_permission_id_0e980ebe ON public.userauths_user_user_permissions USING btree (permission_id);


--
-- Name: userauths_user_user_permissions_user_id_7dc84ca3; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX userauths_user_user_permissions_user_id_7dc84ca3 ON public.userauths_user_user_permissions USING btree (user_id);


--
-- Name: userauths_userconsent_user_id_8583b21f; Type: INDEX; Schema: public; Owner: alakol_admin
--

CREATE INDEX userauths_userconsent_user_id_8583b21f ON public.userauths_userconsent USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: booking_roomunavailability booking_roomunavailability_room_id_4a180784_fk_hotel_room_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.booking_roomunavailability
    ADD CONSTRAINT booking_roomunavailability_room_id_4a180784_fk_hotel_room_id FOREIGN KEY (room_id) REFERENCES public.hotel_room(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_coupons hotel_booking_coupons_booking_id_6573f114_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_booking_id_6573f114_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_coupons hotel_booking_coupons_coupon_id_a309a0c1_fk_hotel_coupon_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_coupons
    ADD CONSTRAINT hotel_booking_coupons_coupon_id_a309a0c1_fk_hotel_coupon_id FOREIGN KEY (coupon_id) REFERENCES public.hotel_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking hotel_booking_hotel_id_dc04efe3_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_hotel_id_dc04efe3_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_room hotel_booking_room_booking_id_61fa1c4b_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_booking_id_61fa1c4b_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking_room hotel_booking_room_room_id_0ca3afd2_fk_hotel_room_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking_room
    ADD CONSTRAINT hotel_booking_room_room_id_0ca3afd2_fk_hotel_room_id FOREIGN KEY (room_id) REFERENCES public.hotel_room(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking hotel_booking_room_type_id_0d3f38d2_fk_hotel_roomtype_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_room_type_id_0d3f38d2_fk_hotel_roomtype_id FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_booking hotel_booking_user_id_2a2702b8_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_booking
    ADD CONSTRAINT hotel_booking_user_id_2a2702b8_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_bookmark hotel_bookmark_hotel_id_5cf60386_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_hotel_id_5cf60386_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_bookmark hotel_bookmark_user_id_d6979361_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_bookmark
    ADD CONSTRAINT hotel_bookmark_user_id_d6979361_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_couponusers hotel_couponusers_booking_id_4ec3f5fb_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_couponusers
    ADD CONSTRAINT hotel_couponusers_booking_id_4ec3f5fb_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_couponusers hotel_couponusers_coupon_id_6aed3d72_fk_hotel_coupon_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_couponusers
    ADD CONSTRAINT hotel_couponusers_coupon_id_6aed3d72_fk_hotel_coupon_id FOREIGN KEY (coupon_id) REFERENCES public.hotel_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotel hotel_hotel_user_id_22831f53_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotel
    ADD CONSTRAINT hotel_hotel_user_id_22831f53_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotelfaqs hotel_hotelfaqs_hotel_id_bc41a234_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotelfaqs
    ADD CONSTRAINT hotel_hotelfaqs_hotel_id_bc41a234_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotelfeatures hotel_hotelfeatures_hotel_id_8f1591cb_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotelfeatures
    ADD CONSTRAINT hotel_hotelfeatures_hotel_id_8f1591cb_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_hotelgallery hotel_hotelgallery_hotel_id_6c5433aa_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_hotelgallery
    ADD CONSTRAINT hotel_hotelgallery_hotel_id_6c5433aa_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_notification hotel_notification_booking_id_c62798a7_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_booking_id_c62798a7_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_notification hotel_notification_user_id_32a78950_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_notification
    ADD CONSTRAINT hotel_notification_user_id_32a78950_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review_helpful hotel_review_helpful_review_id_a1a5bb1c_fk_hotel_review_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_review_id_a1a5bb1c_fk_hotel_review_id FOREIGN KEY (review_id) REFERENCES public.hotel_review(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review_helpful hotel_review_helpful_user_id_97be73f9_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review_helpful
    ADD CONSTRAINT hotel_review_helpful_user_id_97be73f9_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review hotel_review_hotel_id_84b7e376_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review
    ADD CONSTRAINT hotel_review_hotel_id_84b7e376_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_review hotel_review_user_id_aba6c0af_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_review
    ADD CONSTRAINT hotel_review_user_id_aba6c0af_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_room hotel_room_hotel_id_c05078e5_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_hotel_id_c05078e5_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_room hotel_room_room_type_id_8d455d55_fk_hotel_roomtype_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_room
    ADD CONSTRAINT hotel_room_room_type_id_8d455d55_fk_hotel_roomtype_id FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomservices hotel_roomservices_booking_id_384f0f77_fk_hotel_booking_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomservices
    ADD CONSTRAINT hotel_roomservices_booking_id_384f0f77_fk_hotel_booking_id FOREIGN KEY (booking_id) REFERENCES public.hotel_booking(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomservices hotel_roomservices_room_id_b9919e09_fk_hotel_room_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomservices
    ADD CONSTRAINT hotel_roomservices_room_id_b9919e09_fk_hotel_room_id FOREIGN KEY (room_id) REFERENCES public.hotel_room(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtype hotel_roomtype_hotel_id_1151ebc0_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtype
    ADD CONSTRAINT hotel_roomtype_hotel_id_1151ebc0_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypedescription hotel_roomtypedescri_room_type_id_dfbb7e1b_fk_hotel_roo; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypedescription
    ADD CONSTRAINT hotel_roomtypedescri_room_type_id_dfbb7e1b_fk_hotel_roo FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypedescription hotel_roomtypedescription_hotel_id_a238aad1_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypedescription
    ADD CONSTRAINT hotel_roomtypedescription_hotel_id_a238aad1_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypefeaturesdetailed hotel_roomtypefeatur_hotel_id_6bcdbc71_fk_hotel_hot; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypefeaturesdetailed
    ADD CONSTRAINT hotel_roomtypefeatur_hotel_id_6bcdbc71_fk_hotel_hot FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypefeatures hotel_roomtypefeatur_room_type_id_567ebc11_fk_hotel_roo; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypefeatures
    ADD CONSTRAINT hotel_roomtypefeatur_room_type_id_567ebc11_fk_hotel_roo FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypefeaturesdetailed hotel_roomtypefeatur_room_type_id_a113ef92_fk_hotel_roo; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypefeaturesdetailed
    ADD CONSTRAINT hotel_roomtypefeatur_room_type_id_a113ef92_fk_hotel_roo FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypefeatures hotel_roomtypefeatures_hotel_id_3b80ea92_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypefeatures
    ADD CONSTRAINT hotel_roomtypefeatures_hotel_id_3b80ea92_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypegallery hotel_roomtypegaller_room_type_id_c636e44e_fk_hotel_roo; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypegallery
    ADD CONSTRAINT hotel_roomtypegaller_room_type_id_c636e44e_fk_hotel_roo FOREIGN KEY (room_type_id) REFERENCES public.hotel_roomtype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hotel_roomtypegallery hotel_roomtypegallery_hotel_id_bbb4c6e6_fk_hotel_hotel_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.hotel_roomtypegallery
    ADD CONSTRAINT hotel_roomtypegallery_hotel_id_bbb4c6e6_fk_hotel_hotel_id FOREIGN KEY (hotel_id) REFERENCES public.hotel_hotel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: legal_documentview legal_documentview_user_id_6e0d8de5_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_documentview
    ADD CONSTRAINT legal_documentview_user_id_6e0d8de5_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: legal_userconsent legal_userconsent_user_id_2af572b8_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.legal_userconsent
    ADD CONSTRAINT legal_userconsent_user_id_2af572b8_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_9957a03c_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_9957a03c_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id FOREIGN KEY (tag_id) REFERENCES public.taggit_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_profile userauths_profile_user_id_bdea9f7e_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_profile
    ADD CONSTRAINT userauths_profile_user_id_bdea9f7e_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_groups userauths_user_groups_group_id_2bd3d457_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_group_id_2bd3d457_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_groups userauths_user_groups_user_id_70ad3415_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_groups
    ADD CONSTRAINT userauths_user_groups_user_id_70ad3415_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_user_permissions userauths_user_user__permission_id_0e980ebe_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user__permission_id_0e980ebe_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_user_user_permissions userauths_user_user__user_id_7dc84ca3_fk_userauths; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_user_user_permissions
    ADD CONSTRAINT userauths_user_user__user_id_7dc84ca3_fk_userauths FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userauths_userconsent userauths_userconsent_user_id_8583b21f_fk_userauths_user_id; Type: FK CONSTRAINT; Schema: public; Owner: alakol_admin
--

ALTER TABLE ONLY public.userauths_userconsent
    ADD CONSTRAINT userauths_userconsent_user_id_8583b21f_fk_userauths_user_id FOREIGN KEY (user_id) REFERENCES public.userauths_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

