{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta name="google-site-verification" content="0ABk3Ms6mIECgNX043l_7Sxci1NACbcpmtH1f2oDqu0" />
    <!-- SEO Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="description" content="{% block meta_description %}{% trans 'Бронирование отелей и баз отдыха на озере Алаколь, Казахстан. Лучшие цены, удобный поиск, мгновенное подтверждение бронирования. Откройте для себя красоту Алаколя.' %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% trans 'Алаколь, отели, базы отдыха, бронирование, Казахстан, Алаколь базы отдыха,озеро, отдых, туризм, номера, гостиницы, базы отдыха Алаколь' %}{% endblock %}">
    <meta name="author" content="Alakol Booking System">
    <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}{% trans 'Алаколь - Бронирование отелей и баз отдыха онлайн' %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% trans 'Бронирование отелей и баз отдыха на озере Алаколь, Казахстан. Лучшие цены, удобный поиск, мгновенное подтверждение бронирования.' %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'images/og-image.jpg' %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:site_name" content="Alakol Hotel Booking">
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}{% trans 'Алаколь - Бронирование отелей онлайн' %}{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}{% trans 'Бронирование отелей на озере Алаколь, Казахстан. Лучшие цены, удобный поиск.' %}{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% static 'images/og-image.jpg' %}{% endblock %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% trans "Алаколь - Бронирование отелей онлайн" %}{% endblock %}</title>
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}">
    
    <!-- Alternate Language URLs for hreflang -->
    {% get_available_languages as LANGUAGES %}
    {% for language_code, language_name in LANGUAGES %}
        <link rel="alternate" hreflang="{{ language_code }}" href="{% block hreflang_url %}{{ request.build_absolute_uri }}{% endblock %}">
    {% endfor %}
    
    <!-- JSON-LD Structured Data -->
    {% block structured_data %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{% trans 'Алаколь - Бронирование отелей' %}",
        "url": "{{ request.build_absolute_uri }}",
        "description": "{% trans 'Бронирование отелей на озере Алаколь, Казахстан. Лучшие цены, удобный поиск, мгновенное подтверждение бронирования.' %}",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ request.scheme }}://{{ request.get_host }}/search/?q={search_term_string}",
            "query-input": "required name=search_term_string"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Alakol Hotel Booking",
            "url": "{{ request.scheme }}://{{ request.get_host }}"
        }
    }
    </script>
    {% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/mmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="colors">

    <!-- Legal Integration CSS - Generated on 2025-05-31 04:53 AM +05 -->
    <link rel="stylesheet" href="{% static 'css/legal_integration.css' %}">

    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    
    <!-- Антикэш CSS для кнопок аутентификации -->
    <style>
        /* Предотвращение мерцания кнопок при загрузке */
        #auth-buttons-container {
            min-height: 50px;
            transition: opacity 0.3s ease;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        /* Стиль для кнопок по умолчанию */
        .auth-loading #auth-buttons-container {
            opacity: 0.7;
        }
        
        /* Плавная анимация для обновления кнопок */
        #auth-buttons-container a {
            transition: all 0.2s ease;
            text-decoration: none;
        }
        
        /* Обеспечиваем правильное отображение кнопок в контейнере */
        #auth-buttons-container .selected-rooms-button,
        #auth-buttons-container .sign-in-button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        
        /* Мобильные стили для контейнера кнопок */
        @media (max-width: 490px) {
            #auth-buttons-container {
                gap: 5px;
            }
            
            #auth-buttons-container .selected-rooms-button,
            #auth-buttons-container .sign-in-button {
                width: 50px;
            }
            
            #auth-buttons-container .sign-in-span,
            #auth-buttons-container .sign-up-span {
                display: none;
            }
        }
    </style>

    {% comment %} <link href="{% static 'css/datedropper.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}

    <!-- Icons, Font and assets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon-ligatures@2.5.0/fonts/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
    {% block special_header_links %}
    
    {% endblock special_header_links %}
</head>

<body>



    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part" class="fullwidth">
            <div id="header">
                <div class="container">
                    <div class="utf_left_side">
                        <div id="logo"> <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a> </div>
                        <div class="mmenu-trigger">
<!--                            <button class="hamburger utfbutton_collapse" type="button">-->
<!--                                <span class="utf_inner_button_box">-->
<!--                                    <span class="utf_inner_section"></span>-->
<!--                                </span>-->
<!--                            </button>-->
                        </div>
                        <div class='lang-code'>
                            <div class="language-buttons">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <button class="lang-button-topbar" 
                                        onclick="changeLanguage('{{ language.code }}')" 
                                        data-language="{{ language.code }}"
                                        title="{% trans 'Switch to' %} {{ language.name_local }}">
                                    <img src="{% static 'images/flags/'|add:language.code|add:'.png' %}" 
                                         alt="{{ language.code }}" width="20" height="15">
                                </button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="utf_right_side">
                        
                        
<style>


</style>
                        <div class="header_widget "> 
                               
                            <!-- Контейнер для кнопок аутентификации - будет обновляться динамически -->
                            <div id="auth-buttons-container">
                                <!-- По умолчанию показываем кнопки для неаутентифицированных пользователей -->
                                <a href="{% url 'hotel:selected_rooms' %}" class="selected-rooms-button"><i class="fas fa-bed"></i><span class="room-count">0</span></a>
                                <a href="{% url 'userauths:sign-in' %}" class="sign-in-button"><i class="fa fa-sign-in"></i><span class="sign-in-span">{% trans "Sign In" %}</span></a>
                                <a href="{% url 'userauths:sign-up' %}" class="sign-in-button"><i class="bi bi-person-add"></i><span class="sign-in-span">{% trans "Sign Up" %}</span></a>
                            </div>

                        </div>
                    </div>

                    <div id="dialog_signin_part" class="zoom-anim-dialog mfp-hide">
                        <div class="small_dialog_header">
                            <h3>{% trans "Sign In" %}</h3>
                        </div>
                        <div class="utf_signin_form style_one">
                            <ul class="utf_tabs_nav">
                                <li class=""><a href="#tab1">{% trans "Log In" %}</a></li>
                                <li><a href="#tab2">{% trans "Register" %}</a></li>
                            </ul>
                            <div class="tab_container alt">
                                <div class="tab_content" id="tab1" style="display:none;">
                                    <form method="post" class="login">
                                        <p class="utf_row_form utf_form_wide_block">
                                            <label for="username">
                      <input type="text" class="input-text" name="username" id="username" value="" placeholder="{% trans "Username" %}" />
                    </label>
                                        </p>
                                        <p class="utf_row_form utf_form_wide_block">
                                            <label for="password">
                      <input class="input-text" type="password" name="password" id="password" placeholder="{% trans "Password" %}"/>
                    </label>
                                        </p>
                                        <div class="utf_row_form utf_form_wide_block form_forgot_part"> <span class="lost_password fl_left"> <a href="javascript:void(0);">{% trans "Forgot Password?" %}</a> </span>
                                            <div class="checkboxes fl_right">
                                                <input id="remember-me" type="checkbox" name="check">
                                                <label for="remember-me">{% trans "Remember Me" %}</label>
                                            </div>
                                        </div>
                                        <div class="utf_row_form">
                                            <input type="submit" class="button border margin-top-5" name="login" value="{% trans "Login" %}" />
                                        </div>
                                        <div class="utf-login_with my-3">
                                            <span class="txt">{% trans "Or Login in With" %}</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-6">
                                                <a href="javascript:void(0);" class="social_bt facebook_btn mb-0"><i class="fa fa-facebook"></i> {% trans "Facebook" %}</a>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <a href="javascript:void(0);" class="social_bt google_btn mb-0"><i class="fa fa-google"></i> {% trans "Google" %}</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab_content" id="tab2" style="display:none;">
                                    <form method="post" class="register">
                                        <p class="utf_row_form utf_form_wide_block">
                                            <label for="username2">
                      <input type="text" class="input-text" name="username" id="username2" value="" placeholder="{% trans "Username" %}" />
                    </label>
                                        </p>
                                        <p class="utf_row_form utf_form_wide_block">
                                            <label for="email2">
                      <input type="text" class="input-text" name="email" id="email2" value="" placeholder="{% trans "Email" %}" />
                    </label>
                                        </p>
                                        <p class="utf_row_form utf_form_wide_block">
                                            <label for="password1">
                      <input class="input-text" type="password" name="password1" id="password1" placeholder="{% trans "Password" %}" />
                    </label>
                                        </p>
                                        <p class="utf_row_form utf_form_wide_block">
                                            <label for="password2">
                      <input class="input-text" type="password" name="password2" id="password2" placeholder="{% trans "Confirm Password" %}" />
                    </label>
                                        </p>
                                        
                                        <!-- Legal Consent Section for Modal - Added 2025-05-31 04:53 AM +05 -->
                                        <div class="legal-consent-section" style="padding: 15px; margin: 15px 0; background: #f8f9fa; border-radius: 5px;">
                                            <div class="legal-checkbox-group">
                                                <!-- Terms of Use - Required -->
                                                <div class="legal-checkbox required" style="margin-bottom: 8px;">
                                                    <input type="checkbox" id="modal_terms_consent" name="terms_consent" required style="margin-right: 8px;">
                                                    <label for="modal_terms_consent" style="font-size: 12px; line-height: 1.3;">
                                                        {% trans "I agree to" %}
                                                        <a href="{% url 'legal:terms_of_use' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                                            {% trans "Terms of Use" %}
                                                        </a>
                                                    </label>
                                                </div>
                                                
                                                <!-- Privacy Policy - Required -->
                                                <div class="legal-checkbox required" style="margin-bottom: 8px;">
                                                    <input type="checkbox" id="modal_privacy_consent" name="privacy_consent" required style="margin-right: 8px;">
                                                    <label for="modal_privacy_consent" style="font-size: 12px; line-height: 1.3;">
                                                        {% trans "I agree to" %}
                                                        <a href="{% url 'legal:privacy_policy' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                                            {% trans "Privacy Policy" %}
                                                        </a>
                                                    </label>
                                                </div>
                                                
                                                <!-- Personal Data Consent - Required -->
                                                <div class="legal-checkbox required" style="margin-bottom: 8px;">
                                                    <input type="checkbox" id="modal_personal_data_consent" name="personal_data_consent" required style="margin-right: 8px;">
                                                    <label for="modal_personal_data_consent" style="font-size: 12px; line-height: 1.3;">
                                                        {% trans "I consent to" %}
                                                        <a href="{% url 'legal:personal_data_consent' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                                            {% trans "Data Processing" %}
                                                        </a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <input type="submit" class="button border fw margin-top-10" name="register" value="{% trans "Register" %}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        
        {% block content %}
            
        {% endblock content %}
            
        <div class="clearfix"></div>
        
        <!-- Footer -->
        <div id="footer" class="footer_sticky_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h4>{% trans "Contacts" %}</h4>
                        <div>
                            <span><b>{% trans "E-mail:" %}</b> support@ekol.kz</span><br/>
                            <span><b>{% trans "Address:" %}</b> Қазахстан, г Астана, улица Бухар Жырау 36, 194кв</span><br/>
                            <span><b>{% trans "BIN/IIN:" %}</b> 040701551273</span>
                        </div>
                    </div>

                    <!-- Legal Documents Section - Added 2025-05-31 04:53 AM +05 -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h5 style="    color: #424242;
                        margin-bottom: 15px;
                        font-size: 16px;
                        font-weight: 600;">{% trans "Legal Information" %}</h5>
                        <div class="footer-legal-section">
                            <div class="footer-legal-links">
                                <a href="{% url 'legal:terms_of_use' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                    {% trans "Terms of Use" %}
                                </a>
                                <a href="{% url 'legal:privacy_policy' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                    {% trans "Privacy Policy" %}
                                </a>
                                <a href="{% url 'legal:public_offer' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                    {% trans "Public Offer" %}
                                </a>
                                <a href="{% url 'legal:booking_rules' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                    {% trans "Booking Rules" %}
                                </a>
                                <a href="{% url 'legal:personal_data_consent' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                    {% trans "Data Processing Consent" %}
                                </a>
                                <a href="{% url 'legal:payment_rules' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                    {% trans "Payment Rules" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_copyright_part">Copyright © 2025 All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom_backto_top"><a href="#"></a></div>
    </div>

    <script>
        // Функция для смены языка без CSRF-токена
        function changeLanguage(languageCode) {
            // Создаем cookie для языка
            document.cookie = 'django_language=' + languageCode + '; path=/; max-age=31536000';
            
            // Получаем текущий путь и параметры
            var currentPath = window.location.pathname;
            var currentSearch = window.location.search;
            var baseUrl = window.location.protocol + '//' + window.location.host;
            
            // Определяем новый URL
            var newUrl;
            
            // Проверяем, есть ли уже языковой префикс в пути
            var langPattern = /^\/([a-z]{2})\//;
            var match = currentPath.match(langPattern);
            
            if (match) {
                // Заменяем существующий языковой префикс
                var currentLang = match[1];
                var newPath = currentPath.replace('/'+currentLang+'/', '/'+languageCode+'/');
                newUrl = baseUrl + newPath + currentSearch;
            } else {
                // Добавляем языковой префикс к текущему пути
                if (currentPath === '/') {
                    newUrl = baseUrl + '/' + languageCode + '/';
                } else {
                    newUrl = baseUrl + '/' + languageCode + currentPath + currentSearch;
                }
            }
            
            // Перенаправляем на новый URL
            window.location.href = newUrl;
        }
        
        // Альтернативная функция через API (для продакшена)
        function changeLanguageViaAPI(languageCode) {
            $.ajax({
                url: '{% url "hotel:custom_change_language" %}',
                type: 'POST',
                data: {
                    'language': languageCode
                },
                success: function(data) {
                    if (data.status === 'success') {
                        // Перезагружаем страницу с новым языком
                        window.location.reload();
                    } else {
                        console.error('Language change failed:', data.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Language change error:', error);
                    // Fallback к простой смене языка
                    changeLanguage(languageCode);
                }
            });
        }
        
        // Messages загружаются динамически через AJAX для предотвращения кэширования
        function loadAndDisplayMessages() {
            $.ajax({
                url: '{% url "hotel:get_messages" %}',
                type: 'GET',
                success: function(data) {
                    if (data.messages && data.messages.length > 0) {
                        data.messages.forEach(function(message) {
                            Swal.fire({
                                icon: message.level_tag,
                                title: message.message,
                                text: message.level_tag,
                                timer: 15000
                            });
                        });
                    }
                },
                error: function() {
                    // Тихо игнорируем ошибки загрузки messages
                    console.log('Messages loading failed silently');
                }
            });
        }
        
        // Функция для загрузки количества выбранных номеров в реальном времени
        function loadSelectedItemsCount() {
            $.ajax({
                url: '{% url "hotel:get_selected_items_count" %}',
                type: 'GET',
                success: function(data) {
                    $('.room-count').text(data.total_selected_items);
                },
                error: function() {
                    // В случае ошибки оставляем 0
                    $('.room-count').text('0');
                }
            });
        }
        
        // Функция для загрузки состояния аутентификации и обновления кнопок в топ-баре
        function loadUserAuthStatus() {
            // Добавляем класс для индикации загрузки
            $('body').addClass('auth-loading');
            
            $.ajax({
                url: '{% url "hotel:get_user_auth_status" %}',
                type: 'GET',
                success: function(data) {
                    var container = $('#auth-buttons-container');
                    container.empty(); // Очищаем контейнер
                    
                    // Создаем кнопки на основе ответа от сервера
                    data.buttons.forEach(function(button) {
                        var buttonHtml = '<a href="' + button.url + '" class="' + button.class + '">';
                        buttonHtml += '<i class="' + button.icon + '"></i>';
                        
                        if (button.span_class) {
                            buttonHtml += '<span class="' + button.span_class + '">' + button.span_text + '</span>';
                        }
                        
                        buttonHtml += '</a>';
                        container.append(buttonHtml);
                    });
                    
                    // После обновления кнопок загружаем количество выбранных номеров
                    loadSelectedItemsCount();
                    
                    // Убираем класс загрузки
                    $('body').removeClass('auth-loading');
                },
                error: function() {
                    // В случае ошибки оставляем кнопки по умолчанию (неаутентифицированного пользователя)
                    console.log('Auth status loading failed, using default buttons');
                    loadSelectedItemsCount();
                    $('body').removeClass('auth-loading');
                }
            });
        }
        
        // Загружаем состояние аутентификации и messages при загрузке страницы
        $(document).ready(function() {
            loadUserAuthStatus();
            loadAndDisplayMessages();
        });
    </script>

    <!-- Scripts -->
    <!-- Translations for JavaScript -->
    <script src="{% static 'scripts/translations.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/chosen.min.js' %}"></script>
    <script src="{% static 'scripts/slick.min.js' %}"></script>
    <script src="{% static 'scripts/rangeslider.min.js' %}"></script>
    <script src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'scripts/mmenu.js' %}"></script>
    <script src="{% static 'scripts/tooltips.min.js' %}"></script>
    <script src="{% static 'scripts/jquery_custom.js' %}"></script>
    <script src="{% static 'scripts/quantityButtons.js' %}"></script>
    <script src="{% static 'scripts/moment.min.js' %}"></script>
    <script src="{% static 'scripts/daterangepicker.js' %}"></script>
    
    <!-- Legal Validation JavaScript - Generated on 2025-05-31 04:53 AM +05 -->
    <script src="{% static 'js/legal_validation.js' %}"></script>
    
    <!-- Cookie Notice JavaScript -->
    <script src="{% static 'js/cookie-notice.js' %}"></script>
    
    {% block script_links %}
    {% endblock script_links %}

    <script>
        $(function() {

            var start = moment().subtract(0, 'days');
            var end = moment().add(2, 'days');

            function cb(start, end) {
                $('#booking-date-search').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            cb(start, end);
            $('#booking-date-search').daterangepicker({
                "opens": "right",
                "autoUpdateInput": true,
                "alwaysShowCalendars": true,
                startDate: start,
                endDate: end
            }, cb);

            cb(start, end);

        });

        // Calendar animation and visual settings
        $('#booking-date-search').on('show.daterangepicker', function(ev, picker) {
            $('.daterangepicker').addClass('calendar-visible calendar-animated bordered-style');
            $('.daterangepicker').removeClass('calendar-hidden');
        });
        $('#booking-date-search').on('hide.daterangepicker', function(ev, picker) {
            $('.daterangepicker').removeClass('calendar-visible');
            $('.daterangepicker').addClass('calendar-hidden');
        });
        $('#booking-date-search').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            $('#check_in_date').val(picker.startDate.format('YYYY-MM-DD'));
            $('#check_out_date').val(picker.endDate.format('YYYY-MM-DD'));
        });

        $('#booking-date-search').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
            $('#check_in_date').val('');
            $('#check_out_date').val('');
        });

        $(window).on('load', function() {
            $('#booking-date-search').val('');
        });

    
    </script>

    <!-- Cookie Notice -->
    <div id="cookie-notice" class="cookie-notice" style="opacity: 0; transition: opacity 0.3s ease;">
        <div class="cookie-notice-content">
            <div class="cookie-notice-text">
                {% trans "By continuing to use this site, you acknowledge that you consent to the collection and use of data stored in cookies. This helps us to improve the site and provide you with a better service." %}
                <a href="{% url 'legal:privacy_policy' %}" target="_blank">{% trans "Read more about our privacy policy" %}</a>
            </div>
            <div class="cookie-notice-buttons">
                <button id="cookie-continue" class="cookie-notice-btn cookie-continue-btn">{% trans "Continue" %}</button>
            </div>
        </div>
    </div>
</body>

</html>