.custom-calendar {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
    text-align: center;
}
.custom-calendar .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.custom-calendar .calendar-header button {
    padding: 10px 10px;
}
.custom-calendar .calendar-table {
    width: 100%;
    border-collapse: collapse;
}
.custom-calendar .calendar-table th,
.custom-calendar .calendar-table td {
    border: 1px solid #aaa;
    width: 14.2%;
    height: 80px;
    vertical-align: top;
    padding: 3px;
}
.custom-calendar .day-price {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    color: green;
}

.prev-month {
    border: none !important;
    background-color: #8400ff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.next-month {
    border: none !important;
    background-color: #8400ff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}