.check-in-out-input {
    height: 50px;
}

.submit-filters {
    width: 100%;
    background-color: #3075ba;
    color: white;
    border-radius: 4px;
    border: none;
    height: 50px;
}

.hotel-card {
    transition: transform 0.2s;
}

.hotel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.results-hotel-card{
    box-shadow: 2px 2px 12px 2px rgba(44, 44, 44, 0.144);
    border-radius: 10px;
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.search-results-hotel-image {
    object-fit: cover;
    width: 500px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.filters-card {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 300px;
    height: fit-content;

}

.search-base {
    display: flex;
    justify-content: center;
    align-items: center;
}


.filters-and-results {
    display: flex;
    flex-direction: row;
    overflow: auto;
    min-height: 1500px;
}


.results-hotel-card-right-part {
    width: 500px;
    padding: 20px;
    position: relative;
}

.found-label {
    color: #3075ba;
    margin-bottom: 20px;
}

.view-details-button {
    color: #3075ba;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
}

.view-details-button:hover {
    border-bottom: 1px solid #3075ba;
}

.search-results-container {
    padding: 20px 20px 20px 0px;
    margin-left: 10px;
    margin-bottom: 300px;
}

.search-results-header {
    background: transparent;
    margin-left: 10px;
}

@media (max-width: 1100px) {
    .results-hotel-card{
        width: 700px;
    }
}


@media (max-width: 900px) {
    .results-hotel-card{
        box-shadow: 2px 2px 12px 2px rgba(44, 44, 44, 0.144);
        border-radius: 10px;
        height: fit-content;
        width: 500px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }

    .view-details-button {
        color: #3075ba;
        font-size: 20px;
        position: absolute;
        bottom: -20px;
    }


    .search-results-hotel-image {
        object-fit: cover;
        width: 500px;
        height: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .filters-and-results {
        display: flex;
        flex-direction: column;
        overflow: auto;
        min-height: 1500px;
    }

    .filters-card {
        border: 1px solid lightgrey;
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        width: fit-content;
        height: fit-content;
    }

    .filters-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .submit-filters {
        width: 100%;
        background-color: #3075ba;
        color: white;
        border-radius: 4px;
        margin-top: 28px;
        border: none;
        height: 50px;
    }
}

@media (max-width: 520px) {
    .results-hotel-card{
        box-shadow: 2px 2px 12px 2px rgba(44, 44, 44, 0.144);
        border-radius: 10px;
        height: fit-content;
        width: 95vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }

}

@media (max-width: 480px) {
    .filters-and-results {
        justify-content: center;
    }

    .filters-form  {
        grid-template-columns: 1fr 1fr;
    }

    .filters-card {
        margin-left: 10px;
        border: none;
    }

    .submit-filters {
        width: 100%;
        background-color: #3075ba;
        color: white;
        border-radius: 10px;
        font-size: 20px;
        border: none;
        height: 50px;
    }
}