{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="fullwidth_block search_categorie_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-top-75 margin-bottom-45">{% trans "Sign Up" %} <span>{% trans "Hi there! Create a free account today." %}</span> </h3>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="category_container_item_part card">
                        <div class="utf_signin_form style_one">
                            <ul class="utf_tabs_nav">
                                <!-- <li class=""><a href="#tab1">Log In</a></li> -->
                            </ul>
                            <div class="tab_container alt">
                                

                                <div class="tab_content" id="tab2" style="display:none;">
                                    <form method="post" class="register">
                                        {% csrf_token %}
                                        {{form}}
                                        
                                        <!-- Legal Consent Section - Added 2025-05-31 04:53 AM +05 -->
                                        <div class="legal-consent-section">
                                            <h4>{% trans "Legal Agreements" %}</h4>
                                            
                                            <div class="legal-checkbox-group">
                                                <!-- Terms of Use - Required -->
                                                <div class="legal-checkbox required">
                                                    <input type="checkbox" id="terms_consent" name="terms_consent" required>
                                                    <label for="terms_consent">
                                                        {% trans "I agree to the" %}
                                                        <a href="{% url 'legal:terms_of_use' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                                            {% trans "Terms of Use" %}
                                                        </a>
                                                        {% trans "of eKol" %}
                                                    </label>
                                                </div>
                                                
                                                <!-- Privacy Policy - Required -->
                                                <div class="legal-checkbox required">
                                                    <input type="checkbox" id="privacy_consent" name="privacy_consent" required>
                                                    <label for="privacy_consent">
                                                        {% trans "I agree to the" %}
                                                        <a href="{% url 'legal:privacy_policy' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                                            {% trans "Privacy Policy" %}
                                                        </a>
                                                        {% trans "and understand how my data will be processed" %}
                                                    </label>
                                                </div>
                                                
                                                <!-- Personal Data Processing Consent - Required -->
                                                <div class="legal-checkbox required">
                                                    <input type="checkbox" id="personal_data_consent" name="personal_data_consent" required>
                                                    <label for="personal_data_consent">
                                                        {% trans "I consent to the processing of my personal data as described in the" %}
                                                        <a href="{% url 'legal:personal_data_consent' %}" class="legal-link" target="_blank" rel="noopener noreferrer">
                                                            {% trans "Personal Data Processing Consent" %}
                                                        </a>
                                                    </label>
                                                </div>
                                                
                                                <!-- Marketing Consent - Optional -->
                                                <div class="legal-checkbox optional">
                                                    <input type="checkbox" id="marketing_consent" name="marketing_consent">
                                                    <label for="marketing_consent">
                                                        {% trans "I agree to receive marketing communications about eKol services and special offers" %}
                                                        <em>({% trans "optional" %})</em>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                            <div class="legal-validation-error">
                                                {% trans "Please accept all required legal documents to continue." %}
                                            </div>
                                        </div>
                                        
                                        <input type="submit" class="button border fw margin-top-10" name="register" value="{% trans 'Register' %}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="category_container_item_part">
                        <a href="#" class="category_fitem_box"> 
                            <img src="https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7963.jpg?w=2000" style="width: 100%; height: 420px; object-fit: cover;" alt=""/>
                           
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
    